<div class="panel panel-default">
	<div class="panel-heading">
		<h4><%= t('user.editing') %></h4>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<%= link_to t('user.show'), @user, :class => 'btn btn-default btn-xs' %>
	<%= link_to t('all.back'), users_path, :class => 'btn btn-default btn-xs' %>
</div>
